body {
    background-color: #7289da;
    user-select: none;
    cursor: default;
}

i {
    font-size: 1.3em;
}

#titlebar {
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    background-color: white;
}

#titlebar #draggable {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-app-region: drag;
    z-index: -10;
}

#titlebar i {
    margin: 0 10px;
    cursor: pointer;
    opacity: .75;
    z-index: 500000;
}

#titlebar i:hover {
    opacity: 1;
}

#logo img {
    margin: auto;
    margin-top: 100px;
}

#selectBtn {
    width: 50vw;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    margin-bottom: 30px;
}

#selectBtn .button {
    font-weight: bold;
    background-color: white;
    padding: 5px;
    border-radius: 3px 0 0 3px;
    border-bottom: 3px solid lightgray;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    border-right: 1px solid lightgray;
}

#selectBtn .button.click, #submit.click {
    background-color: #ddd;
}

#selectBtn input {
    display: inline-block;
    height: 37px;
    border: none;
    border-bottom: 3px solid lightgray;
    border-radius: 0 3px 3px 0;
    padding-left: 10px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    width: calc(100% - 65px);
    transition: 100ms border-color;
}

#selectBtn input:focus {
    outline: none;
    border-color: #566498;
}

#help {
    background-color: white;
    border-radius: 5px;
    min-height: 100px;
    min-width: 360px;
    text-align: justify;
    padding: 5px 10px;
}

#submit {
    font-weight: bold;
    background-color: white;
    padding: 5px;
    border: none;
    border-radius: 3px;
    border-bottom: 3px solid lightgray;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

#submit:focus {
    outline: none;
}

#submit.disabled {
    color: gray;
    cursor: not-allowed;
}

