body {
    background-color: #7289da;
    user-select: none;
    cursor: default;
}

i {
    font-size: 1.3em;
}

#titlebar {
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    background-color: white;
}

#titlebar #draggable {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-app-region: drag;
    z-index: -10;
}

#titlebar i {
    margin: 0 10px;
    cursor: pointer;
    opacity: .75;
    z-index: 500000;
}

#titlebar i:hover {
    opacity: 1;
}

#logo img {
    margin: auto;
    margin-top: 100px;
}

#selectBtn {
    width: 50vw;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    margin-bottom: 30px;
}

#selectBtn .button {
    font-weight: bold;
    background-color: white;
    padding: 5px;
    border-radius: 3px 0 0 3px;
    border-bottom: 3px solid lightgray;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    border-right: 1px solid lightgray;
}

#selectBtn .button.click, #submit.click {
    background-color: #ddd;
}

#selectBtn input {
    display: inline-block;
    height: 37px;
    border: none;
    border-bottom: 3px solid lightgray;
    border-radius: 0 3px 3px 0;
    padding-left: 10px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    width: calc(100% - 65px);
    transition: 100ms border-color;
}

#selectBtn input:focus {
    outline: none;
    border-color: #566498;
}

#help {
    background-color: white;
    border-radius: 5px;
    min-height: 100px;
    min-width: 360px;
    text-align: justify;
    padding: 5px 10px;
}

#submit {
    font-weight: bold;
    background-color: white;
    padding: 5px;
    border: none;
    border-radius: 3px;
    border-bottom: 3px solid lightgray;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

#submit:focus {
    outline: none;
}

#submit.disabled {
    color: gray;
    cursor: not-allowed;
}

#invalidDirText {
    position: absolute;
    left: 50%;
    bottom: -12px;
    color: #ad1a1a;
    font-weight: bold;
    transform: translateX(-50%);
    opacity: 0;
    transition: 100ms opacity;
}

#invalidDirText.show {
    opacity: 1;
}

.page:not(#pageOne) {
    display: none;
}

#installText {
    color: white;
    font-size: 28px;
    display: inline-block;
    position: relative;
    width: 100vw;
    top: 35vh;
    text-align: center;
}

#pageThree button {
    font-weight: bold;
    background-color: white;
    padding: 5px;
    border-radius: 3px 0 0 3px;
    border: none;
    border-bottom: 3px solid lightgray;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}

button:focus {
    outline: none;
}

#pageThree div div:first-child {
    color: white;
    font-size: 28px;
    margin-top: 70px;
    text-align: center;
}

#pageThree div div:nth-child(2) button {
    margin-top: 120px;
}

#modal .modal-content {
    border-radius: 0;
}

#modal .modal-body, #modal .modal-footer {
    background-color: rgb(114, 137, 218);
    border-color: rgb(114, 137, 218);
    color: whitesmoke;
}

.btn {
    font-weight: bold;
    background-color: #d4d4d4;
    padding: 5px;
    border-radius: 3px 0 0 3px;
    border: none;
    border-bottom: 3px solid gray;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
    color: #4c4f50;
}

.btn:active, .btn:hover {
    background-color: #d4d4d4;
    border-bottom: 3px solid gray;
    color: #4c4f50;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-primary {
    background-color: white;
    border-color: lightgray;
    color: rgb(41, 43, 44);
}

.btn-primary:active, .btn-primary:hover {
    background-color: white;
    border-color: lightgray;
    color: rgb(41, 43, 44);

}